# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.arm
*.x86_64
*.hex

# FreeBSD for Acer C720
*~
.svn
/usr.sbin/*
!/usr.sbin/smbmsg

/sys/*

!/sys/boot
/sys/boot/*
!/sys/boot/i386
/sys/boot/i386/*
!/sys/boot/i386/libi386

!/sys/conf
!/sys/dev

/sys/dev/*
!/sys/dev/atkbdc
!/sys/dev/cyapa
!/sys/dev/ichiic
!/sys/dev/isl
!/sys/dev/smbus

!/sys/dev/usb
/sys/dev/usb/*
!/sys/dev/usb/controller

!/sys/modules
/sys/modules/*
!/sys/modules/i2c

/share/*
!/share/man
/share/man/*
!/share/man/man4
/share/man/man4/*
!/share/man/man4/Makefile
!/share/man/man4/cyapa.4
!/share/man/man4/ig4.4
!/share/man/man4/isl.4
!/share/man/man4/smb.4

/.arcconfig
/.arclint
/COPYRIGHT
/LOCKS
/MAINTAINERS
/Makefile
/Makefile.inc1
/ObsoleteFiles.inc
/README
/UPDATING
/bin
/cddl
/contrib
/crypto
/etc
/games
/gnu
/include
/kerberos5
/lib
/libexec
/release
/rescue
/sbin
/secure
/tests
/tools
/usr.bin
